p {
    font-family: 'Courier New', Courier, monospace;

    font-style: italic;
    font-size: 32px;

    /* 1em is equal to the current font size. The default text size in browsers is 16px. So, the default size of 1em is 16px. */
    font-size: 2.5em; /* 40px/16=2.5em */

    font-weight: bold;

    /*The font-variant property specifies whether or not a text should be displayed in a small-caps font.
    In a small-caps font, all lowercase letters are converted to uppercase letters.
    However, the converted uppercase letters appears in a smaller font size than the original uppercase letters in the text.  */
    font-variant: small-caps;
}